Increase Version

Summary:

Reviewers: #framework_syntax_highlighting, dhaumann, cullmann

Subscribers: kde-frameworks-devel, kwrite-devel

Tags: #kate, #frameworks

# git config --local commit.template "$PWD"/commit.template
